<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <service android:name="io.bimmergestalt.reader.carapp.CarAppService" android:exported="true">
            <intent-filter>
                <action android:name="io.bimmergestalt.carconnection.service" />
            </intent-filter>
        </service>
    </application>
</manifest>